.sidenav-container {
    height: 100%;
    background-color: #e8eaf6;
  }
  
  .grid-container {
    background-color: #e8eaf6;
    margin: 10px;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .link{
    cursor: pointer;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }