mat-form-field.mat-form-field {
    width: 90%;
}

.example-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.example-container .mat-form-field {
    margin-right: 8px;
}

.container-bf {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
