h1{
  color: gray;
  text-align: center;
  top: 5px;
}
.row_list {
  display: flex;
  flex-direction: row;
}

.col_list {
  flex: 1;
  margin-right: 5px;
}

.col_list:last-child {
  margin-right: 0;
}

.container{
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 1fr 5fr;
}

.avatar{
  width: 100%;

}
