<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <!--Aqui se reemplazo las rutas a los componentes, modificar el array appitems del archivo ts de este componente.-->
    <ng-material-multilevel-menu [configuration]="config" [items]="appitems">
    </ng-material-multilevel-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="link" routerLink="/admin-analyst/listrevisionanalyst"
          >Solventes S.A.</span
        >
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          [mat-menu-trigger-for]="menu"
          aria-label="Toggle menu"
          class="more-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Cerrar sesion
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- CONTENIDO PRINCIPAL (PANEL DE EN MEDIO) -->
    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
