<h1>Listado de personas</h1>
<mat-card class="example-card">
  <div fxLayout>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de persona</mat-label>
      <mat-select [(value)]="selected" (valueChange)="onChange()">
        <mat-option
          *ngFor="let typePerson of typePersons"
          [value]="typePerson.id_type_person"
        >
          {{ typePerson.type_person }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Filtro General</mat-label>
        <mat-select matNativeControl [(value)]="filterSelected">
          <mat-option>--Filtro General--</mat-option>

          <div *ngFor="let column of displayedColumns">
            <mat-option
              *ngIf="
                column != 'avatar' && column != 'convertir' && column != 'edit'
              "
              [value]="column"
            >
              {{ column }}
            </mat-option>
          </div>
        </mat-select>
        <mat-icon matSuffix>stars</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Buscador</mat-label>
        <input
          matInput
          type="text"
          (keyup)="applyFilter($event.target.value)"
          placeholder="Ej: Juan"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<div class="container-table mat-elevation-z8">
  <table mat-table [dataSource]="persons" matSort>
    <!-- avatar  Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let element">
        <img class="img-avatar" [src]="element.avatar" alt="Foto" />
      </td>
    </ng-container>

    <!-- id persona Column -->
    <ng-container matColumnDef="id_person">
      <th mat-header-cell *matHeaderCellDef>Id persona</th>
      <td mat-cell *matCellDef="let client">{{ client.id_person }}</td>
    </ng-container>

    <!-- nit Column -->
    <ng-container matColumnDef="nit">
      <th mat-header-cell *matHeaderCellDef>Nit</th>
      <td mat-cell *matCellDef="let person">{{ person.nit }}</td>
    </ng-container>

    <!-- cui Column -->
    <ng-container matColumnDef="cui">
      <th mat-header-cell *matHeaderCellDef>CUI</th>
      <td mat-cell *matCellDef="let person">{{ person.cui }}</td>
    </ng-container>

    <!-- first_name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Primer Nombre</th>
      <td mat-cell *matCellDef="let person">{{ person.first_name }}</td>
    </ng-container>

    <!-- second_name Column -->
    <ng-container matColumnDef="second_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Segundo Nombre</th>
      <td mat-cell *matCellDef="let person">{{ person.second_name }}</td>
    </ng-container>

    <!-- first_surname Column -->
    <ng-container matColumnDef="first_surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Primer Apellido</th>
      <td mat-cell *matCellDef="let person">{{ person.first_surname }}</td>
    </ng-container>

    <!-- second_surname Column -->
    <ng-container matColumnDef="second_surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Segundo Apellido
      </th>
      <td mat-cell *matCellDef="let person">{{ person.second_surname }}</td>
    </ng-container>

    <!-- rol Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
      <td mat-cell *matCellDef="let client">{{ client.rol }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let client">{{ client.email }}</td>
    </ng-container>

    <!-- sexo Column -->
    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</th>
      <td mat-cell *matCellDef="let client">{{ client.sexo }}</td>
    </ng-container>

    <!-- date_of_birth Column -->
    <ng-container matColumnDef="date_of_birth">
      <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
      <td mat-cell *matCellDef="let person">
        {{ person.date_of_birth | date: "dd-MM-y" }}
      </td>
    </ng-container>

    <!-- department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
      <td mat-cell *matCellDef="let person">{{ person.department }}</td>
    </ng-container>

    <!-- municipality Column -->
    <ng-container matColumnDef="municipality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</th>
      <td mat-cell *matCellDef="let person">{{ person.municipality }}</td>
    </ng-container>

    <!-- business_name Column -->
    <ng-container matColumnDef="business_name">
      <th mat-header-cell *matHeaderCellDef>Razon Social</th>
      <td mat-cell *matCellDef="let person">{{ person.business_name }}</td>
    </ng-container>

    <!-- constitution_date Column -->
    <ng-container matColumnDef="constitution_date">
      <th mat-header-cell *matHeaderCellDef>Fecha de constitucion</th>
      <td mat-cell *matCellDef="let person">
        {{ person.constitution_date | date: "dd-MM-y" }}
      </td>
    </ng-container>

    <!-- commercial_patent_number Column -->
    <ng-container matColumnDef="commercial_patent_number">
      <th mat-header-cell *matHeaderCellDef>Patente de comercio</th>
      <td mat-cell *matCellDef="let person">
        {{ person.commercial_patent_number }}
      </td>
    </ng-container>

    <!-- comercial_activity Column -->
    <ng-container matColumnDef="comercial_activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Actividad Comercial
      </th>
      <td mat-cell *matCellDef="let person">{{ person.comercial_activity }}</td>
    </ng-container>

    <!-- Convertir Column -->
    <ng-container matColumnDef="convertir">
      <th mat-header-cell *matHeaderCellDef>Convertir</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [mat-menu-trigger-for]="menu"
          class="more-button"
        >
          <mat-icon>autorenew</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngIf="selected != 1008"
            (click)="onConvertTrust(element)"
          >
            <mat-icon>person</mat-icon>
            Fiado
          </button>
          <button
            mat-menu-item
            *ngIf="selected != 1008"
            (click)="onConvertBeneficiary(element)"
          >
            <mat-icon>person</mat-icon>
            Beneficiario
          </button>
          <button
            mat-menu-item
            *ngIf="selected == 1008"
            (click)="onConvertUser(element)"
          >
            <mat-icon>person</mat-icon>
            Usuario
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let person">
        <button
          mat-icon-button
          routerLink="/admin-page/editar-persona/{{ person.id_person }}"
        >
          <mat-icon>create</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- disabled Column -->
    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef>Deshabilitado</th>
      <td mat-cell *matCellDef="let person">
        <mat-slide-toggle
          color="primary"
          [checked]="person.disabled"
          (change)="onDelete(person)"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [pageSizeOptions]="[8, 16, 32]"
  showFirstLastButtons
></mat-paginator>
<div class="action-button">
  <button
    mat-fab
    color="primary"
    routerLink="/agregar-persona"
    aria-label="Agregar persona"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
