mat-form-field.mat-form-field {
    width: 90%;
}

.container-bf {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.example-container .mat-form-field + .mat-form-field {
    width: 100%;
  }
  