<!DOCTYPE html>
<html>
<head>
</head>
<body style="background-color: #F2F3F4;">
    <div style="  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;">
        <center><h1 style=" font-size: 250%; color:  #A80A0A; text-shadow: 2px 2px 4px #707B7C;">Aseguradora Solvente S.A</h1></center>
        <div style=" display: grid;  grid-template-rows: 10fr 2fr;">
            <div style="margin: 5%; display: grid;  grid-template-columns: 3fr 10fr 2fr;">
                <img src="https://backendapilast.blob.core.windows.net/private/1.png" style="width:100%">
               <div style="display: grid;  grid-template-rows: 1fr 1fr; margin-left: 20px;;">
                    <div style=" font-size: 180%; margin-top: 3%;"><strong>Usuario:</strong>{{{user}}} </div>
                    <div style=" font-size: 180%;margin-top: 3%;"><strong>Contraseña:</strong>{{{pass}}} </div>
               </div>
            </div>
            <div style="text-align: justify; margin: auto; background-color: #F1C40F; padding: 2%;  border-radius:5px; box-shadow: 10px 10px 5px grey;"><strong style="font-size: 120%;">Nota:</strong> Este usuario y esta contraseña es confidenciales solo usted la podra saber si en caso la extrabia o se la roban notificar de inmediato para su cambio</div>
        </div>
    </div>
</body>
</html>